#flex-container{
    display:flex;
    background: rgb(6,11,128);
    background: linear-gradient(0deg, rgba(6,11,128,1) 0%, rgba(2,16,153,1) 55%, rgba(65,4,199,1) 76%, rgba(90,0,255,1) 93%);
    background-repeat: no-repeat;
}